body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 500px;
  height:300px;
  margin: 50px auto;
  padding: 20px;
  background-color:rgb(35, 159, 197);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  
}

input[type="number"] {
  width: calc(100% - 19px);
  padding: 8px;
  margin-bottom: 15px;
  
  border:1px solid gray;
  font-size: 17px;
  
}

button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
